<?xml version="1.0"?>
<!-- 
=========================================
    * Author: nipun.dhananjaya@gmail.com
    * Created: 27.02.2023
=========================================
 -->
<model>
    <name>hyperdog</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <description>
        Author: nipun.dhananjaya@gmail.com
        27.02.2023
    </description>
</model>