<?xml version="1.0"?>

<robot name="consts" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- joint limits -->
    <xacro:property name="hip_low_limit"  value="-1.57"/>
    <xacro:property name="hip_up_limit"   value="1.57"/>
    <xacro:property name="uleg_low_limit" value="-1.2217"/>
    <xacro:property name="uleg_up_limit"  value="3.14"/>
    <xacro:property name="lleg_low_limit" value="-1.57"/>
    <xacro:property name="lleg_up_limit"  value="2.618"/>
    <xacro:property name="velocity"       value="1"/>
    <xacro:property name="effort"         value="10"/>

    <!-- joint dynamics -->
    <xacro:property name="use_dynamics" value="true"/>
    <xacro:macro name="hip_joint_dynamics">
        <dynamics damping="0.01" friction="10000"/>
    </xacro:macro>
    <xacro:macro name="uleg_joint_dynamics">
        <dynamics damping="0.01" friction="10000"/>
    </xacro:macro>
    <xacro:macro name="lleg_joint_dynamics">
        <dynamics damping="0.01" friction="10000"/>
    </xacro:macro>

    <!-- configure inertia -->
    <xacro:property name="body_mass" value="3"/>
    <xacro:property name="body_inertia_x_len" value="0.28"/>
    <xacro:property name="body_inertia_y_len" value="0.172"/>
    <xacro:property name="body_inertia_z_len" value="0.04"/>

    <xacro:property name="hip_mass" value="0.3"/>
    <xacro:property name="hip_inertia_x_len" value="0.05"/>
    <xacro:property name="hip_inertia_y_len" value="0.03"/>
    <xacro:property name="hip_inertia_z_len" value="0.04"/>

    <xacro:property name="uleg_mass" value="0.5"/>
    <xacro:property name="uleg_inertia_x_len" value="0.14"/>
    <xacro:property name="uleg_inertia_y_len" value="0.01"/>
    <xacro:property name="uleg_inertia_z_len" value="0.01"/>

    <xacro:property name="lleg_mass" value="0.2"/>
    <xacro:property name="lleg_inertia_x_len" value="0.08"/>
    <xacro:property name="lleg_inertia_y_len" value="0.001"/>
    <xacro:property name="lleg_inertia_z_len" value="0.005"/>

    <!-- feet -->
    <xacro:property name="foot_mass" value="0.1"/>
    <xacro:property name="foot_radius" value="0.02"/>
    


</robot>