<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<!-- ************* JOINT CONTROLLER GAZEBO PLUGIN ************** -->

    <!-- 
    _____________________________________________________________________
        include this file into: /description/hyperdog.urdf.xacro 
        using following line: 
                    <xacro:include filename="gazebo_ros2_control_plugin.xacro" /> 
    _____________________________________________________________________ -->



    <!-- CONFIGURE JOINTS OF THE ROBOT -->
    <ros2_control name="GazeboSystem" type="System">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="FR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FR_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FR_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.45</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FL_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FL_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        
        <joint name="FL_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.45</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BR_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BR_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.45</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BL_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BL_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="BL_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.45</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <!--  CONFIGURE THE GAZEBO PLUGIN -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>$(find hyperdog_gazebo_sim)/config/hyperdog_joint_controller.yaml</parameters>
        </plugin>
    </gazebo>


</robot> 