<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- 
    * Autor: nipun.dhananjaya@gmail.com
    * Date:  13.03.2023


    _____________________________________________________________________
        include this file into: /description/hyperdog.urdf.xacro 
        using following line: 
                    <xacro:include filename="hyperdog_urdf_links.xacro" /> 
    _____________________________________________________________________ -->

    <xacro:include filename="consts.xacro" /> 
    <xacro:include filename="physics.xacro" /> 


    <!-- load meshes -->
    <xacro:macro name="body_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/body.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="rightHip_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/RIGHT_HIP.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="leftHip_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LEFT_HIP.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="rightUleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/RIGHT_ULEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="leftUleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LEFT_ULEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="lleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LLEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
   


    <!-- *********** Inertial link *********** -->
    <link name="inertial_link">
        <xacro:inertial_body></xacro:inertial_body>
    </link>


    <!-- *********** base link *********** -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:body_mesh></xacro:body_mesh>
            </geometry>
            <material name="green">
                <color rgba="0.2 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:body_mesh></xacro:body_mesh>
            </geometry>
        </collision>
        
    </link>


    <!-- !!!!!!!!!!!!!!!!!!!!!!! HIPS !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- *********** FR_hip *********** -->
    <link name="FR_hip_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightHip_mesh></xacro:rightHip_mesh>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightHip_mesh></xacro:rightHip_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_hip></xacro:inertial_right_hip>
    </link>
    <!-- *********** FL_hip ********** -->
    <link name="FL_hip_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftHip_mesh></xacro:leftHip_mesh>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftHip_mesh></xacro:leftHip_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_hip></xacro:inertial_left_hip>
    </link>
    <!-- *********** BR_hip ********** -->
    <link name="BR_hip_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightHip_mesh></xacro:rightHip_mesh>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightHip_mesh></xacro:rightHip_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_hip></xacro:inertial_right_hip>
    </link>
    <!-- *********** BL_hip ********** -->
    <link name="BL_hip_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftHip_mesh></xacro:leftHip_mesh>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftHip_mesh></xacro:leftHip_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_hip></xacro:inertial_left_hip>
    </link>


    <!-- !!!!!!!!!!!!!!!!!!!!!!! ULEGs !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- *********** FR_uleg ********** -->
    <link name="FR_uleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:rightUleg_mesh></xacro:rightUleg_mesh>
            </geometry>
            <material name="orange">
                <color rgba="0.8 0.5 0.8 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightUleg_mesh></xacro:rightUleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_uleg></xacro:inertial_right_uleg>
    </link>
    <!-- *********** FL_uleg ********** -->
    <link name="FL_uleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:leftUleg_mesh></xacro:leftUleg_mesh>
            </geometry>
            <material name="orange">
                <color rgba="0.8 0.5 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftUleg_mesh></xacro:leftUleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_uleg></xacro:inertial_left_uleg>
    </link>
    <!-- *********** BR_uleg ********** -->
    <link name="BR_uleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:rightUleg_mesh></xacro:rightUleg_mesh>
            </geometry>
            <material name="orange">
                <color rgba="0.8 0.5 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:rightUleg_mesh></xacro:rightUleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_uleg></xacro:inertial_right_uleg>
    </link>
    <!-- *********** BL_uleg ********** -->
    <link name="BL_uleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:leftUleg_mesh></xacro:leftUleg_mesh>
            </geometry>
            <material name="orange">
                <color rgba="0.8 0.5 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:leftUleg_mesh></xacro:leftUleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_uleg></xacro:inertial_left_uleg>
    </link>


    <!-- !!!!!!!!!!!!!!!!!!!!!!! LLEGs !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- *********** FR_lleg ********** -->
    <link name="FR_lleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
            <material name="yellow">
                <color rgba="0.8 1.0 0.1 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_lleg></xacro:inertial_right_lleg>
    </link>
    <!-- *********** FL_lleg ********** -->
    <link name="FL_lleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
            <material name="yellow">
                <color rgba="0.8 1.0 0.1 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_lleg></xacro:inertial_left_lleg>

    </link>
      <!-- *********** BR_lleg ********** -->
    <link name="BR_lleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
            <material name="yellow">
                <color rgba="0.8 1.0 0.1 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_right_lleg></xacro:inertial_right_lleg>

    </link>
    <!-- *********** BL_lleg ********** -->
    <link name="BL_lleg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
            <material name="yellow">
                <color rgba="0.8 1.0 0.1 1"/>
            </material> 
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <xacro:lleg_mesh></xacro:lleg_mesh>
            </geometry>
        </collision>
        <xacro:inertial_left_lleg></xacro:inertial_left_lleg>
    </link>



    <!-- !!!!!!!!!!!!!!!!!!!!!!! FEET !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

    <!-- *********** FL FOOT ********** -->
    <link name="FL_foot">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <material name="orange"/>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <surface>
            <friction>
                <ode>
                    <mu>1</mu>
                    <mu2>1</mu2>
                    <fdir1>1 0 0</fdir1>
                </ode>
            </friction>
        </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
      </link>
    <!-- *********** FR FOOT ********** -->
    <link name="FR_foot">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <material name="orange"/>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <surface>
            <friction>
                <ode>
                    <mu>1</mu>
                    <mu2>1</mu2>
                    <fdir1>1 0 0</fdir1>
                </ode>
            </friction>
        </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
      </link>
    <!-- *********** BR FOOT ********** -->
    <link name="BR_foot">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <material name="orange"/>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <surface>
            <friction>
                <ode>
                    <mu>1</mu>
                    <mu2>1</mu2>
                    <fdir1>1 0 0</fdir1>
                </ode>
            </friction>
        </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
      </link>
    <!-- *********** BL FOOT ********** -->
    <link name="BL_foot">
        <visual>
          <origin rpy="0 0 0" xyz="0.0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <material name="orange"/>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="${foot_radius}"/>
          </geometry>
          <surface>
            <friction>
                <ode>
                    <mu>1</mu>
                    <mu2>1</mu2>
                    <fdir1>1 0 0</fdir1>
                </ode>
            </friction>
        </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
      </link>

</robot>