<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
    _____________________________________________________________________
        include this file into: /description/hyperdog.urdf.xacro 
        using following line: 
                    <xacro:include filename="hyperdog_gazebo.xacro" /> 
    _____________________________________________________________________ 
    * Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses).
    Instead, we need to add gazebo tags for our links that refer to Gazebo materials
-->

    <xacro:include filename="physics.xacro" /> 

    <xacro:macro name="gz_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>  
        <kp value="2147483647.0"/>
        <kd value="1.0"/>
        <maxVel>0.01</maxVel>
        <self_collide>1</self_collide>
        <material>Gazebo/PioneerBody</material>
    </xacro:macro>

    <xacro:macro name="gz_uleg">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2> 
        <kp value="2147483647.0"/>
        <kd value="1.0"/>
        <maxVel>0.01</maxVel>
        <self_collide>1</self_collide>
        <material>Gazebo/Orange</material>
        <!-- <implicitSpringDamper>1</implicitSpringDamper>
        <springStiffness>100</springStiffness> -->
    </xacro:macro>

    <xacro:macro name="gz_lleg">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>    
        <fdir1>1 0 0</fdir1>
        <kp>2147483647.0</kp>
        <kd>1.0</kd>
        <maxVel>0.01</maxVel>
        <self_collide>1</self_collide> 
        <material>Gazebo/DarkYellow</material>
        <minDepth>0.001</minDepth> 
        <!-- <implicitSpringDamper>1</implicitSpringDamper>
        <springStiffness>100</springStiffness> -->
    </xacro:macro>

    <xacro:macro name="gz_foot">
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <fdir1>1 1 0</fdir1>
        <kp value="2147483647.0" />
        <kd value="100.0" />
        <maxVel>0.01</maxVel>
        <self_collide>1</self_collide>
        <minDepth>0.001</minDepth> 

        <restitution_coefficient>1</restitution_coefficient>
        <threshold>0</threshold>

        <material>Gazebo/DarkGrey</material>
    </xacro:macro>



    <!-- body -->
    <gazebo reference="base_link">
        <mu1>0.05</mu1>
        <mu2>0.05</mu2>
        <!-- <kp>1000000.0</kp>
        <kd>1.0</kd> -->
        <maxVel>0.01</maxVel>
        <material>Gazebo/DarkGrey  </material>
    </gazebo>

    <!-- hip -->
    <gazebo reference="FR_hip_link">
        <xacro:gz_hip></xacro:gz_hip>
    </gazebo>   
    <gazebo reference="FL_hip_link">
        <xacro:gz_hip></xacro:gz_hip>
    </gazebo>
    <gazebo reference="BR_hip_link">
        <xacro:gz_hip></xacro:gz_hip>
    </gazebo>
    <gazebo reference="BL_hip_link">
        <xacro:gz_hip></xacro:gz_hip>
    </gazebo>

    <!-- uleg -->
    <gazebo reference="FR_uleg_link">
        <xacro:gz_uleg></xacro:gz_uleg>
    </gazebo>   
    <gazebo reference="FL_uleg_link">
        <xacro:gz_uleg></xacro:gz_uleg>
    </gazebo> 
    <gazebo reference="BR_uleg_link">
        <xacro:gz_uleg></xacro:gz_uleg>
    </gazebo>
    <gazebo reference="BL_uleg_link">
        <xacro:gz_uleg></xacro:gz_uleg>
    </gazebo>
    
    <!-- lleg -->
    <gazebo reference="FR_lleg_link">
        <xacro:gz_lleg></xacro:gz_lleg>
    </gazebo>
    <gazebo reference="FL_lleg_link">
        <xacro:gz_lleg></xacro:gz_lleg>
    </gazebo>
    <gazebo reference="BR_lleg_link">
        <xacro:gz_lleg></xacro:gz_lleg>
    </gazebo>
    <gazebo reference="BL_lleg_link">
        <xacro:gz_lleg></xacro:gz_lleg>
    </gazebo>


    <!-- feet -->
    <gazebo reference="FR_foot">
        <xacro:gz_foot></xacro:gz_foot>
    </gazebo>
    <gazebo reference="FL_foot">
        <xacro:gz_foot></xacro:gz_foot>
    </gazebo>
    <gazebo reference="BL_foot">
        <xacro:gz_foot></xacro:gz_foot>
    </gazebo>
    <gazebo reference="BR_foot">
        <xacro:gz_foot></xacro:gz_foot>
    </gazebo>


    
    
   

</robot>
