<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- configure inertia -->

    <!--  BODY -->
    <xacro:macro name="inertial_body">
        <inertial>
            <origin xyz="-0.006 0.00633 0.00214" rpy="0 0 0"/> <!-- 0.006, -0.000233, 0.00214 -->
            <mass value="2.0" />
            <inertia ixx="0.00728" ixy="0.00003" ixz="0.00073" iyy="0.01641" iyz="0.00013" izz="0.01965" />
        </inertial>
    </xacro:macro> 
    <!-- HIP -->
    <xacro:macro name="inertial_right_hip">
        <inertial>
            <origin xyz="0.0 -0.02 0.01" rpy="0 0 0"/>
            <mass value="0.25" />
            <inertia ixx="0.00199" ixy="0.00339" ixz="0.00075" iyy="0.0078" iyz="0.00034" izz="0.00943" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_hip">
        <inertial>
            <origin xyz="0.0 0.02 0.01" rpy="0 0 0"/>
            <mass value="0.25" />
            <inertia ixx="0.00199" ixy="0.00339" ixz="0.00075" iyy="0.0078" iyz="0.00034" izz="0.00943" />
        </inertial>
    </xacro:macro> 
    <!-- ULEG -->
    <xacro:macro name="inertial_right_uleg">
        <inertial>
            <origin xyz="-0.02 0.02 0.0" rpy="0 0 0"/>
            <mass value="0.35" />
            <inertia ixx="0.007467" ixy="0.009383" ixz="0.000515" iyy="0.012791" iyz="0.000298" izz="0.019903" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_uleg">
        <inertial>
            <origin xyz="-0.02 -0.02 0.0" rpy="0 0 0"/>
            <mass value="0.35" />
            <inertia ixx="0.007467" ixy="0.009383" ixz="0.000515" iyy="0.012791" iyz="0.000298" izz="0.019903" />
        </inertial>
    </xacro:macro> 
    <!-- LLEG -->
    <xacro:macro name="inertial_right_lleg">
        <inertial>
            <origin xyz="0.05 0.0 -0.0" rpy="0 0 0"/>
            <mass value="0.24" />
            <inertia ixx="0.01273" ixy="0.01054" ixz="0.00877" iyy="0.02196" iyz="0.00602" izz="0.02318" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="inertial_left_lleg">
        <inertial>
            <origin xyz="0.05 0.0 -0.0" rpy="0 0 0"/>
            <mass value="0.24" />
            <inertia ixx="0.01273" ixy="0.01054" ixz="0.00877" iyy="0.02196" iyz="0.00602" izz="0.02318" />
        </inertial>
    </xacro:macro>  

    <!-- ************************************************************************************************** -->

    <!-- Configure joint dynamics -->
    <xacro:macro name="lleg_jointDynamics">
        <dynamics damping="1.0" friction="1000.0"/> 
    </xacro:macro>

    <!-- Configure foot surface -->
    <xacro:macro name="foot_surface">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <minDepth>0.001</minDepth>
        <fdir1>1 1 0</fdir1>
    </xacro:macro>

</robot>
