<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <!-- Include meshes -->
    <xacro:macro name="body_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/body.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="rightHip_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/RIGHT_HIP.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="leftHip_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LEFT_HIP.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="rightUleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/RIGHT_ULEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="leftUleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LEFT_ULEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    <xacro:macro name="lleg_mesh">
        <mesh filename="file://$(find hyperdog_gazebo_sim)/meshes/LLEG.stl" scale="0.001 0.001 0.001"/>
    </xacro:macro>
    

    <!-- Configure joint dynamics -->
    <xacro:macro name="lleg_jointDynamics">
        <dynamics damping="1.0" friction="1000.0"/> 
    </xacro:macro>

    <!-- Configure foot surface -->
    <xacro:macro name="foot_surface">
        <!-- <friction>
        <mu1>10.0</mu1><mu2>10.0</mu2>
        </friction>
        <contact>
            <min_depth>0.003</min_depth>
        </contact> -->
        <mu1>100.0</mu1>
        <mu2>50.0</mu2>
        <kp>1e13</kp>
        <kd>1.0</kd>
        <minDepth>0.003</minDepth>
        <bounce_threshold>1</bounce_threshold>
        <maxVel>0.1</maxVel>
        <fdir1>0 0 0</fdir1>
    </xacro:macro>

    <!-- configure inertia -->

    <!--  BODY -->
    <xacro:macro name="inertial_body">
        <inertial>
            <origin xyz="-0.006 -0.00233 0.0214" rpy="0 0 0"/>
            <mass value="2.0" />
            <inertia ixx="0.00728" ixy="0.00003" ixz="0.00073" iyy="0.01641" iyz="0.00013" izz="0.01965" />
        </inertial>
    </xacro:macro> 
    <!-- HIP -->
    <xacro:macro name="inertial_right_hip">
        <inertial>
            <origin xyz="0.0 -0.02 0.01" rpy="0 0 0"/>
            <mass value="0.25" />
            <inertia ixx="0.00199" ixy="0.00339" ixz="0.00075" iyy="0.0078" iyz="0.00034" izz="0.00943" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_hip">
        <inertial>
            <origin xyz="0.0 0.02 0.01" rpy="0 0 0"/>
            <mass value="0.25" />
            <inertia ixx="0.00199" ixy="0.00339" ixz="0.00075" iyy="0.0078" iyz="0.00034" izz="0.00943" />
        </inertial>
    </xacro:macro> 
    <!-- ULEG -->
    <xacro:macro name="inertial_right_uleg">
        <inertial>
            <origin xyz="-0.02 0.02 0.0" rpy="0 0 0"/>
            <mass value="0.35" />
            <inertia ixx="0.007467" ixy="0.009383" ixz="0.000515" iyy="0.012791" iyz="0.000298" izz="0.019903" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_uleg">
        <inertial>
            <origin xyz="-0.02 -0.02 0.0" rpy="0 0 0"/>
            <mass value="0.35" />
            <inertia ixx="0.007467" ixy="0.009383" ixz="0.000515" iyy="0.012791" iyz="0.000298" izz="0.019903" />
        </inertial>
    </xacro:macro> 
    <!-- LLEG -->
    <xacro:macro name="inertial_right_lleg">
        <inertial>
            <origin xyz="0.05 0.0 -0.0" rpy="0 0 0"/>
            <mass value="0.24" />
            <inertia ixx="0.01273" ixy="0.01054" ixz="0.00877" iyy="0.02196" iyz="0.00602" izz="0.02318" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="inertial_left_lleg">
        <inertial>
            <origin xyz="0.05 0.0 -0.0" rpy="0 0 0"/>
            <mass value="0.24" />
            <inertia ixx="0.01273" ixy="0.01054" ixz="0.00877" iyy="0.02196" iyz="0.00602" izz="0.02318" />
        </inertial>
    </xacro:macro>  

</robot>