root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,hpp}]
indent_style = space
indent_size = 2
max_line_length = 100

[*.{xml,xacro,sdf,yaml,yml,launch.xml}]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2
