<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
    _____________________________________________________________________
        include this file into: /description/hyperdog.urdf.xacro 
        using following line: 
                    <xacro:include filename="hyperdog_gazebo.xacro" /> 
    _____________________________________________________________________ 
    * Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses).
    Instead, we need to add gazebo tags for our links that refer to Gazebo materials
-->

    <xacro:include filename="physics.xacro" /> 


    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey  </material>
    </gazebo>
    <gazebo reference="FR_hip_link">
        <material>Gazebo/PioneerBody</material>
    </gazebo>   
    <gazebo reference="FL_hip_link">
        <material>Gazebo/PioneerBody</material>
    </gazebo>
    <gazebo reference="BR_hip_link">
        <material>Gazebo/PioneerBody</material>
    </gazebo>
    <gazebo reference="BL_hip_link">
        <material>Gazebo/PioneerBody</material>
    </gazebo>
    <gazebo reference="FR_uleg_link">
        <material>Gazebo/Orange     </material>
    </gazebo>   
    <gazebo reference="FL_uleg_link">
        <material>Gazebo/Orange   </material>
    </gazebo> 
    <gazebo reference="BR_uleg_link">
        <material>Gazebo/Orange   </material>
    </gazebo>
    <gazebo reference="BL_uleg_link">
        <material>Gazebo/Orange </material>
    </gazebo>
    
    <gazebo reference="FR_lleg_link">
        <material>Gazebo/DarkYellow</material>
        <xacro:foot_surface></xacro:foot_surface>
    </gazebo>
    <gazebo reference="FL_lleg_link">
        <material>Gazebo/DarkYellow</material>
        <xacro:foot_surface></xacro:foot_surface>
    </gazebo>
    <gazebo reference="BR_lleg_link">
        <material>Gazebo/DarkYellow</material>
        <xacro:foot_surface></xacro:foot_surface>
    </gazebo>
    <gazebo reference="BL_lleg_link">
        <material>Gazebo/DarkYellow</material>
        <xacro:foot_surface></xacro:foot_surface>
    </gazebo>

    <gazebo reference="FR_lleg_joint">
        <implicitSpringDamper>2</implicitSpringDamper>
    </gazebo>

</robot>
