<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="hyperdog">


    <!-- ***************  CONFIGURE ROBOT"S LINKS  *******************-->
   
    <xacro:include filename="$(find hyperdog_ign_sim)/xacros/hyperdog_urdf_links.xacro"/> 

    <!-- ***************  CONFIGURE ROBOT"S JOINTS  *******************-->
    <xacro:include filename="$(find hyperdog_ign_sim)/xacros/hyperdog_urdf_joints.xacro"/> 


    <!-- ****************   INCLUDES OTHER FILES  ******************* -->
    <xacro:include filename="$(find hyperdog_ign_sim)/xacros/gazebo_ros2_control_plugin.xacro"/> 
    <xacro:include filename="$(find hyperdog_ign_sim)/xacros/hyperdog_gazebo.xacro"/>



</robot>